body
{
  cursor: pointer;
}
h1
{
    color: red; 
    font-size: 40px;
}
#myCanvas
{
    border-width:10px;
    background-color: lightgrey;  
    border-style: solid;
    border-color: grey;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 42px;
  font-size: 16px;
}

input
{
  margin-right: 20px;
}